################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/checkers/.vs/checkers/v16
